.aboutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  background-color: black;
  color: white;
  }

  .aboutContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  background-color: black;
  color: white;
  }
  
  .aboutContainer p {
  font-size: 1rem; /* Smaller font size */
  margin-bottom: 20px;
  text-align: center;
  max-width: 800px;
  line-height: 1.6;
  font-style: italic; /* Italic text */
  }

  .banner{
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  }