.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 10;
}

.logo {
    padding-left: 80px;
}

.cartAndConnect {
    display: flex;
}

.cart {
    margin-right: 10px;
}

.cart p {
    margin: 0;
    margin-left: 20px;
}